section {
    background: blue;
    display: flex;
    justify-content: center;

    .item-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
        gap: 0.5rem;

        form {
            background-color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 4px solid red;
            border-radius: 12px;

            button {
                margin: 8px;
            }
        }
    }
}

